<html lang="en-US">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <meta charset="utf-8">
  <title> Douar Tech - Social edtech initiative </title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div>
    <h1> Empower precarious kids with startup skills </h1>
    <p> We're bridging the knowledge gap and empowering kids from the most remote places of Morocco with startup skills </p>
  </div>
  <a href="#" class="btn btn-primary btn-lg"> Join us </a>
</p>
<div class="card">
  <img src="images/briefcase.png" alt="picture description" width="100">
  <h2> Educate to empower </h2>
</div>
<div class="card">
  <img src="images/diamond.png" alt="picture description" width="100">
  <h2> Share to fill the knowledge gap </h2>
</div class="card">
<div>
  <img src="images/heart.png" alt="picture description" width="100">
  <h2> Build a well-connected learning community </h2>
</div>
<div id="footer">
  <p> Built with love. Proud supporter of Open Source & open licenses.
  </p>
</div>
</body>
</html>

